* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-width: 320px;
  overflow-y: scroll;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

li {
  list-style: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong,
em {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

i, em {
  font-style: normal;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  vertical-align: top;
  border-style: none;
}

fieldset {
  border: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: button;
  outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 18px;
}

p {
  margin: 0;
}

.toast {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: auto;
  background: rgba(27, 27, 27, 0.8);
  border-radius: 16px;
  color: #fff;
  width: 80%;
  max-width: 411px;
  padding: 16px;
  text-align: center;
  display: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(-1, -1, -1, -1);
  opacity: 0;
  overflow: hidden;
}

body {
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
  letter-spacing: -.6px;
  background: #fff;
}

.profile {
  position: relative;
  background: url(../assets/header-img.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 24px 24px 0 24px;
}

.profile:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9.13%, #FFFFFF), color-stop(75.38%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 9.13%, rgba(255, 255, 255, 0.6) 75.38%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.profile [class$=title] {
  color: #242424;
  font-size: 18px;
  font-size: 1.125rem;
}

.profile [class$=title] .user_name {
  font-weight: 700;
}

[class^=btn] {
  display: block;
}

[class^=btn] [class*=grey] {
  background: #dfdfdf;
}

[class^=btn] [class*=yelllow] {
  background: #ffeb60;
}

.btn_menu {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='5' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='11' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='17' width='16' height='2' rx='1' fill='%23242424'/%3E%3C/svg%3E%0A");
}

.profile-infos {
  position: relative;
  z-index: 1;
  margin-bottom: 56px;
  padding-left: 72px;
  padding-right: 32px;
}

.profile-infos .btn_menu {
  position: absolute;
  top: 0;
  right: 0;
}

.profile-infos [class$=photo] {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
}

.profile-infos [class$=follower] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555;
  margin-top: 16px;
}

.profile-infos [calss$=millie_day] {
  color: #A5A5A5;
}

.profile-infos [class$=millie_graph] {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 158px;
  padding: 4px 8px;
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-size: 0.625rem;
  background: rgba(232, 232, 230, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 16px;
}

.profile-infos [class$=millie_graph] .dday {
  position: absolute;
  right: 8px;
  font-weight: bold;
}

.profile-infos [class$=millie_graph] p {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: #ffeb60;
}

.profile-fav_book {
  position: relative;
  z-index: 1;
  margin: 0 -24px;
  padding: 14px 24px;
  overflow: hidden;
}

.profile-fav_book strong {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: normal;
  color: #A5A5A5;
}

.profile-fav_book .msg {
  font-family: 'Noto Sans KR', Sans-serif;
  color: #A5A5A5;
  font-size: 14px;
  font-size: 0.875rem;
}

.profile-fav_book .msg span {
  color: #242424;
}

.profile-fav_book .book_thumb {
  position: absolute;
  top: 14px;
  right: 32px;
  width: 79px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.now_reading {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class^=book] {
  overflow: hidden;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 3px 4px 6.75px rgba(0, 0, 0, 0.2), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 6.75px rgba(0, 0, 0, 0.2), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
}

[class^=book].real:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.05)), color-stop(0.01%, rgba(0, 0, 0, 0.05)), color-stop(5.97%, rgba(0, 0, 0, 0.05)), color-stop(15.89%, rgba(255, 255, 255, 0.3)), color-stop(28.19%, rgba(255, 255, 255, 0)), color-stop(28.19%, rgba(0, 0, 0, 0.05)), color-stop(46.96%, rgba(0, 0, 0, 0.0277927)), color-stop(47.51%, rgba(255, 255, 255, 0)), color-stop(54.14%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 0.01%, rgba(0, 0, 0, 0.05) 5.97%, rgba(255, 255, 255, 0.3) 15.89%, rgba(255, 255, 255, 0) 28.19%, rgba(0, 0, 0, 0.05) 28.19%, rgba(0, 0, 0, 0.0277927) 46.96%, rgba(255, 255, 255, 0) 47.51%, rgba(255, 255, 255, 0.1) 54.14%, rgba(255, 255, 255, 0) 100%);
}

[class^=book] img {
  width: 100%;
}

.sorting {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 8px;
}

.sorting .dropdown.type1 {
  position: absolute;
  left: 24px;
  background: none;
  color: #242424;
}

.sorting .dropdown.type1 button {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.sorting .dropdown.type2 {
  padding: 0 8px;
  background: none;
  color: #242424;
}

.sorting .dropdown.type2 button {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

.sorting .btn {
  padding: 0 8px;
}

.contents {
  position: relative;
  -webkit-box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.nav-tabs {
  height: 44px;
  border: 0;
}

.nav-tabs > li > a {
  display: inline-block;
  padding: 12px 0 8px;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover {
  font-weight: bold;
  color: #242424;
  -webkit-box-shadow: 0 2px #242424;
          box-shadow: 0 2px #242424;
}

.nav-tabs > li {
  border: 1x solid red;
  min-width: 71px;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tab-content {
  padding: 16px;
  background: #fff;
}

.bk_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px 0;
}

.bk_wrap {
  width: 18%;
  padding: 8px;
}

@media (max-width: 490px) {
  .bk_wrap {
    width: 33.3%;
  }
}

.bk_wrap.now {
  background: rgba(255, 235, 96, 0.2);
  border: 2px solid #ffeb60;
  border-radius: 6px;
}

.bk_wrap .book_thumb {
  margin-bottom: 8px;
}

.bk_wrap .meta {
  min-height: 80px;
}

.dropdown-menu {
  position: fixed !important;
  z-index: 3;
  top: unset !important;
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  -webkit-transform: none !important;
          transform: none !important;
  opacity: 0;
  padding: 32px 16px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 40px 40px 0px 0px;
}

.dropdown-menu.show {
  opacity: 1;
}

.dropdown-menu > strong {
  display: block;
  text-align: center;
  padding-bottom: 8px;
}

.dropdown-menu .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 0 32px;
}

.dropdown-menu a {
  display: block;
  margin: 4px;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(50% - 8px);
  height: 48px;
  color: #8B8B8B;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.dropdown-menu a.active {
  border: 2px solid #ffeb60;
  color: #242424;
  background: #fff !important;
}

.dropdown-menu .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown-menu .submit button {
  padding: 8px;
  height: 56px;
}

.dropdown-menu .btn1p2 > button:first-child {
  width: 30%;
}

.dropdown-menu .btn1p2 > button:last-child {
  width: 70%;
}

#dim {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

#dim.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */