@charset 'utf-8';
@import "../../common/reset.scss";

$millie-yellow: #ffeb60;

$dark-text1: rgba(255, 255, 255, 0.9);
$dark-slide: rgba(239, 241, 245, 0.3);

$light-line: #ddd;

$light-text1: #242424;
$light-text2: #555;
$light-text3: #a5a5a5;

$light-slide: rgba(191, 192, 196, 0.5);

$lg1: #dfdfdf;
$lg2: #c1c1c1;
$g1: #a5a5a5;
$g2: #8b8b8b;
$g3: #6f6f6f;
$g4: #555555;
$dg1: #3d3d3d;
$dg2: #242424;

$bg_white: #fff;
$bg_yellow: #faf7d7;
$bg_green: #e1edc7;
$bg_dkgreen: #073d30;
$bg_gray: #595959;
$bg_black: rgba(0, 0, 0, 1);

@mixin transitionT1($t: 0.3s) {
    transition: all $t ease-in-out;
}
@mixin absoluteCentering {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

html {
    font-size: 18px;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

p {
    margin: 0;
}

.toast {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    margin: auto;
    background: rgba(27, 27, 27, 0.8);
    border-radius: 16px;
    color: #fff;
    width: 80%;
    max-width: 411px;
    padding: 16px;
    text-align: center;
    display: none;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(-1, -1, -1, -1);
    opacity: 0;
    overflow: hidden;
}

$profile-width-mobile: 56px;
$profile-width-pc: 76px;

$shelf-title-mobile: 18px;
$shelf-title-pc: 24px;

body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
    letter-spacing: -0.6px;
    background: #fff;
}

.profile {
    position: relative;
    background: url(../assets/header-img.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 24px 24px 0;
    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            180deg,
            #ffffff 9.13%,
            rgba(255, 255, 255, 0.6) 75.38%,
            rgba(255, 255, 255, 0) 100%
        );
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    [class$="title"] {
        color: $light-text1;
        @include fontSize(18px);
        .user_name {
            font-weight: 700;
        }
    }
    .inner {
        max-width: 1280px;
        margin: 0 auto;
    }
}

[class^="btn"] {
    display: block;
    box-sizing: border-box;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    [class*="grey"] {
        background: $lg1;
    }
    [class*="yelllow"] {
        background: $millie-yellow;
    }
}

.btn_menu {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='5' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='11' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='17' width='16' height='2' rx='1' fill='%23242424'/%3E%3C/svg%3E%0A");
}
.btn_share {
    height: 24px;
    @include fontSize(12px);
    color: $g3;
    &:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 19.5V13.8333V5.5C4.5 4.94771 4.94772 4.5 5.5 4.5H9M19.5 19.5V13.8333V5.5C19.5 4.94772 19.0523 4.5 18.5 4.5H15' stroke='%236F6F6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.5 13L19.5 13' stroke='%236F6F6F'/%3E%3Cpath d='M15 8L12 11L9 8' stroke='%236F6F6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 3V10' stroke='%236F6F6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='7' y='14.5' width='2.5' height='5' rx='0.4' fill='%236F6F6F'/%3E%3Crect x='10.75' y='14.5' width='2.5' height='5' rx='0.4' fill='%236F6F6F'/%3E%3Crect x='13.4175' y='15.4599' width='2.5' height='5' rx='0.4' transform='rotate(-30 13.4175 15.4599)' fill='%236F6F6F'/%3E%3C/svg%3E%0A");
    }
}
.btn_add {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4V12' stroke='%236F6F6F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 8L12 8' stroke='%236F6F6F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.btn_more {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='3.99953' r='1' fill='%236F6F6F'/%3E%3Ccircle cx='8' cy='7.99953' r='1' fill='%236F6F6F'/%3E%3Cpath d='M9 11.9995C9 12.5518 8.55228 12.9995 8 12.9995C7.44772 12.9995 7 12.5518 7 11.9995C7 11.4472 7.44772 10.9995 8 10.9995C8.55228 10.9995 9 11.4472 9 11.9995Z' fill='%236F6F6F'/%3E%3C/svg%3E%0A");
}

.btn.icon {
    position: relative;
    padding-top: 2px;
    padding-left: 24px + 2px;
    &:before {
        position: absolute;
        top: -50%;
        left: 0;
        transform: translateY(50%);
    }
}

.profile-infos {
    position: relative;
    z-index: 1;
    margin-bottom: 56px;
    padding-left: $profile-width-mobile + 16px;
    padding-right: 32px;
    .btn_menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    [class$="photo"] {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: $profile-width-mobile;
        height: $profile-width-mobile;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
    }
    [class$="follower"] {
        display: flex;
        color: $light-text2;
        margin-top: 16px;
    }
    [calss$="millie_day"] {
        color: $light-text3;
    }
    [class$="millie_graph"] {
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-width: 158px;
        padding: 4px 8px;
        height: 22px;
        box-sizing: border-box;
        @include fontSize(10px);
        background: rgba(232, 232, 230, 0.7);
        backdrop-filter: blur(4px);
        border-radius: 16px;
        .dday {
            position: absolute;
            right: 8px;
            font-weight: bold;
        }
        p {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background: $millie-yellow;
        }
    }
}

.profile-fav_book {
    position: relative;
    z-index: 1;
    margin: 0 -24px;
    padding: 14px 24px;
    overflow: hidden;
    strong {
        @include fontSize(10px);
        font-weight: normal;
        color: $light-text3;
    }
    .msg {
        font-family: "Noto Sans KR", Sans-serif;
        color: $light-text3;
        @include fontSize(14px);
        span {
            color: $light-text1;
        }
    }
    .book_thumb {
        position: absolute;
        top: 14px;
        right: 32px;
        width: 79px;
        transform: rotate(15deg);
    }
}

.now_reading {
    position: fixed;
    z-index: 99;
    bottom: 10px;
    // right: 10px;
    right: -108px;
    display: flex;
    transition: all 0.8s ease;
    padding: 10px;
    border-radius: 8px;
    .book_thumb {
        position: relative;
        width: 52px;
        height: 78px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1),
            0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
        margin-right: 8px;
    }
    &:hover {
        right: 16px;
        background: #fff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1),
            0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
    }
}

[class^="book"] {
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    box-shadow: 3px 4px 6.75px rgba(0, 0, 0, 0.2), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
    &.real {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.05) 0%,
                rgba(0, 0, 0, 0.05) 0.01%,
                rgba(0, 0, 0, 0.05) 5.97%,
                rgba(255, 255, 255, 0.3) 15.89%,
                rgba(255, 255, 255, 0) 28.19%,
                rgba(0, 0, 0, 0.05) 28.19%,
                rgba(0, 0, 0, 0.0277927) 46.96%,
                rgba(255, 255, 255, 0) 47.51%,
                rgba(255, 255, 255, 0.1) 54.14%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }
    img {
        width: 100%;
    }
}

.sorting {
    position: relative;
    justify-content: flex-end;
    padding-bottom: 8px;
    max-width: 1280px;
    margin: 0 auto;
    .dropdown {
        &.type1 {
            position: absolute;
            left: 0;
            button {
                @include fontSize(16px);
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
            background: none;
            color: $light-text1;
        }
        &.type2 {
            padding: 0 8px;
            button {
                @include fontSize(12px);
                margin: 0;
                padding: 0;
            }
            background: none;
            color: $light-text1;
        }
    }
    .btn {
        padding: 0 8px;
    }
}

.contents {
    position: relative;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.12);
    background: #fff;
}

.nav-tabs {
    display: flex;
    height: 44px;
    border: 0;
    max-width: 1280px;
    margin: 0 auto;
}
.nav-tabs > li > a {
    display: inline-block;
    padding: 12px 0 8px;
}
.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover {
    font-weight: bold;
    color: $light-text1;
    box-shadow: 0 2px $light-text1;
}
.nav-tabs > li {
    // min-width: 71px;
    padding: 0 21.5px;
    text-align: center;
    @include fontSize(16px);
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

// .tab-pane {
// }

.tab-content {
    padding: 16px;
    background: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.bk_list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: flex-end;
    padding: 16px 0;
}

.ar_right_16 {
    position: relative;
    padding-right: 32px !important;
    &:after {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11L10.5 8L7.5 5' stroke='%23242424' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}

.ar_right_24 {
    position: relative;
    padding-right: 32px !important;
    span {
        position: absolute;
        top: 6px;
        right: 32px;
        @include fontSize(16px);
        font-weight: bold;
    }
    &:after {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%23555555' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}

.curate_wrap {
    @media (min-width: 700px) {
        display: flex;
    }
}

.curate {
    padding: 16px 0;
    @media (min-width: 540px) {
        margin: 8px;
        border: 1px solid #F6F4EE;
        border-radius: 16px;
        > * {
            max-width: 90%;
            margin: 0 auto;
        }
        .curate_books {
            margin-left: 8%;
        }
    }

    .title {
        position: relative;
        display: block;
        min-height: 28px;
        padding: 4px 0;
        box-sizing: border-box;
        @include fontSize(14px);
        font-weight: bold;
        span {
            position: absolute;
            top: 4px;
            right: 16px;
            font-weight: normal;
        }
    }
    .root_shelf {
        color: $light-text3;
        @include fontSize(10px);
    }
    .footer {
        position: relative;
        z-index: 1;
        margin-top: -16px;
        padding-top: 16px;
        text-align: right;
        border-top: 8px solid #fff;
        filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.05));
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 40%;
            background-image: url("data:image/svg+xml,%3Csvg width='359' height='12' viewBox='0 0 359 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cg opacity='0.4' filter='url(%23filter0_f)'%3E%3Cpath d='M8 -4H351L335.357 5H23.6435L8 -4Z' fill='%23333333'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='0' y='-12' width='359' height='25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='4' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3CclipPath id='clip0'%3E%3Crect width='359' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: 50%;
        }
        .left {
            position: absolute;
            left: 0;
        }
        .btn {
            display: inline-block;
        }
    }
}

.curate_books {
    $value: 25%;
    @media (max-width: 490px) {
        $value: 29%;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 0 6%;
    padding: 16px 0 0;
    .bk_wrap {
        width: $value;
        margin-left: -($value - 40px);
        .book_thumb {
            box-shadow: -2px 0px 9px rgba(0, 0, 0, 0.16);
        }
    }
}

.bk_list {
    .bk_wrap {
        width: calc(100% / 8);
        @media (max-width: 1024px) {
            width: calc(100% / 7);
        }
        @media (max-width: 900px) {
            width: calc(100% / 6);
        }
        @media (max-width: 768px) {
            width: calc(100% / 5);
        }
        @media (max-width: 580px) {
            width: calc(100% / 4);
        }
        @media (max-width: 490px) {
            width: calc(100% / 3);
        }
    }
}
.bk_wrap {
    padding: 8px;
    &.now {
        background: rgba(255, 235, 96, 0.2);
        border: 2px solid $millie-yellow;
        border-radius: 6px;
    }
    .book_thumb {
        margin-bottom: 8px;
    }
    .meta {
        min-height: 80px;
    }
}

.dropdown-menu {
    position: fixed !important;
    z-index: 3;
    top: unset !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100%;
    transform: none !important;
    opacity: 0;
    padding: 32px 16px 0;
    @include transitionT1($t: 0.5s);
    border-radius: 40px 40px 0px 0px;
    @media (min-width: 700px) {
        max-width: 50%;
        margin: auto;
    }
    &.show {
        opacity: 1;
    }
    > strong {
        display: block;
        text-align: center;
        padding-bottom: 8px;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        padding: 8px 0 32px;
    }
    a {
        display: block;
        margin: 4px;
        padding: 8px 16px;
        box-sizing: border-box;
        width: calc(50% - 8px);
        height: 48px;
        color: $g2;
        border: 1px solid $lg2;
        box-sizing: border-box;
        border-radius: 8px;
        text-align: center;
        &.active {
            border: 2px solid $millie-yellow;
            color: $dg2;
            background: #fff !important;
        }
    }
    .submit {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
        button {
            padding: 8px;
            height: 56px;
        }
        .btn_grey {
            background: $lg1;
        }
        .btn_yellow {
            background: $millie-yellow;
        }
    }
    .btn1p2 {
        > button:first-child {
            width: 30%;
        }
        > button:last-child {
            width: 70%;
        }
    }
}

#dim {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    &.show {
        display: block;
    }
}
.modal {
    @media (min-width: 700px) {
        max-width: 50%;
    }
    &.show {
        .modal-dialog {
            transform: translateY(0);
            @media (min-width: 1024px) {
                transform: translateY(-50%);
                opacity: 1;
            }
        }
    }
}
.modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transform: translateY(100px);
    transition: 0.3s all ease;
    @media (min-width: 1024px) {
        transform: unset;
        top: 60%;
        opacity: 0;
    }
}
.modal-body.list {
    a {
        height: 48px;
        padding: 12px 0;
        box-sizing: border-box;
        text-align: left;
    }
}

.modal-content {
    padding-top: 16px;
    border-radius: 40px 40px 0 0;
    @media (min-width: 1024px) {
        padding-top: 0px;
        border-radius: 6px;
    }
}
.modal-header {
    display: none;
}
