@charset 'utf-8';
@import "../../common/reset.scss";

$millie-yellow: #ffeb60;

$dark-text1: rgba(255, 255, 255, 0.9);
$dark-slide: rgba(239, 241, 245, 0.3);

$light-line: #ddd;

$light-text1: #242424;;
$light-text2: #555;
$light-text3: #A5A5A5;;

$light-slide: rgba(191, 192, 196, 0.5);

$lg1: #dfdfdf;
$lg2 : #c1c1c1;
$g1: #A5A5A5;
$g2: #8B8B8B;
$g3: #6F6F6F;
$g4: #555555;;
$dg1: #3D3D3D;
$dg2: #242424;

$bg_white: #fff;
$bg_yellow: #faf7d7;
$bg_green: #e1edc7;
$bg_dkgreen: #073d30;
$bg_gray: #595959;
$bg_black: rgba(0, 0, 0, 1);

@mixin transitionT1($t : 0.3s) {
  transition: all $t ease-in-out;
}
@mixin absoluteCentering {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

html {
  font-size: 18px;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

p {
  margin: 0;
}

.toast {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  margin: auto;
  background: rgba(27, 27, 27, 0.8);
  border-radius: 16px;
  color: #fff;
  width: 80%;
  max-width: 411px;
  padding: 16px;
  text-align: center;
  display: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(-1, -1, -1, -1);
  opacity: 0;
  overflow: hidden;
}

$profile-width-mobile: 56px;
$profile-width-pc: 76px;

$shelf-title-mobile: 18px;
$shelf-title-pc: 24px;

body {
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
  letter-spacing: -.6px;
  background: #fff;
}

.profile {
  position: relative;
  background: url(../assets/header-img.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 24px 24px 0 24px;
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #FFFFFF 9.13%, rgba(255, 255, 255, 0.6) 75.38%, rgba(255, 255, 255, 0) 100%);
transform: matrix(1, 0, 0, -1, 0, 0);
  }
  [class$=title]{
    color: $light-text1;
    @include fontSize(18px);
    .user_name {
      font-weight: 700;
    }
  }
}

[class^=btn]{
  display: block;
  [class*=grey] {
    background: $lg1;
  }
  [class*=yelllow] {
    background: $millie-yellow;
  }
}

.btn_menu {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='5' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='11' width='16' height='2' rx='1' fill='%23242424'/%3E%3Crect x='4' y='17' width='16' height='2' rx='1' fill='%23242424'/%3E%3C/svg%3E%0A");
}

.profile-infos {
  position: relative;
  z-index: 1;
  margin-bottom: 56px;
  padding-left: $profile-width-mobile + 16px;
  padding-right: 32px;
  .btn_menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  [class$=photo] {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: $profile-width-mobile;
    height: $profile-width-mobile;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
  }
  [class$=follower] {
    display: flex;
    color: $light-text2;
    margin-top: 16px;
  }
  [calss$=millie_day]{
    color: $light-text3;
  }
  [class$=millie_graph]{
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 158px;
    padding: 4px 8px;
    height: 22px;
    box-sizing: border-box;
    @include fontSize(10px);
    background: rgba(232, 232, 230, 0.7);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    .dday {
      position: absolute;
      right: 8px;
      font-weight: bold;
    }
    p {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      background: $millie-yellow;
    }
  }
}

.profile-fav_book { 
  position: relative;
  z-index: 1;
  margin: 0 -24px;
  padding: 14px 24px;
  overflow: hidden;
  strong {
    @include fontSize(10px);
    font-weight: normal;
    color: $light-text3;
  }
  .msg {
    font-family: 'Noto Sans KR', Sans-serif;
    color: $light-text3;
    @include fontSize(14px);
    span {
      color: $light-text1;
    }
  }
  .book_thumb {
    position: absolute;
    top: 14px;
    right: 32px;
    width: 79px;
    transform: rotate(15deg);
  }
}

.now_reading {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 52px;
  display: flex;
}

[class^=book] {
  overflow: hidden;
  border-radius: 0 4px 4px 0;
  box-shadow: 3px 4px 6.75px rgba(0, 0, 0, 0.2), 0.75px 0.75px 2.25px rgba(0, 0, 0, 0.1);
  &.real {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 0.01%, rgba(0, 0, 0, 0.05) 5.97%, rgba(255, 255, 255, 0.3) 15.89%, rgba(255, 255, 255, 0) 28.19%, rgba(0, 0, 0, 0.05) 28.19%, rgba(0, 0, 0, 0.0277927) 46.96%, rgba(255, 255, 255, 0) 47.51%, rgba(255, 255, 255, 0.1) 54.14%, rgba(255, 255, 255, 0) 100%);
    }
  }
  img {
    width: 100%;
  }
}

.sorting {
  justify-content: flex-end;
  padding-bottom: 8px;
  .dropdown {
    &.type1 {
      position: absolute;
      left: 24px;
      button {
        @include fontSize(16px);
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      background: none;
      color: $light-text1;
    }
    &.type2 {
      padding: 0 8px;
      button {
        @include fontSize(12px);
        margin: 0;
        padding: 0;
      }
      background: none;
      color: $light-text1;
    }
  }
  .btn {
    padding: 0 8px;
  }
}


.contents {
  position: relative;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.nav-tabs {
  height: 44px;
  border: 0;
}
.nav-tabs > li > a {
  display: inline-block;
  padding: 12px 0 8px;
}
.nav-tabs > li > a.active, 
.nav-tabs > li > a.active:focus, 
.nav-tabs > li > a.active:hover { 
  font-weight: bold;
  color: $light-text1;
  box-shadow: 0 2px $light-text1;
}
.nav-tabs > li { 
  border: 1x solid red;
  min-width: 71px;
  text-align: center;
  @include fontSize(16px);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }

// .tab-pane {
// }

.tab-content{
  padding: 16px;
  background: #fff;
}

.bk_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0;
}

.bk_wrap {
  width: 18%;
  @media (max-width: 490px) {width: 33.3%;}
  padding: 8px;
  &.now {
    background: rgba(255, 235, 96, 0.2);
    border: 2px solid $millie-yellow;
    border-radius: 6px;
  }
  .book_thumb {
    margin-bottom: 8px;
  }
  .meta {
    min-height: 80px;
  }

}

.dropdown-menu {
  position: fixed !important;
  z-index: 3;
  top: unset !important;
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  transform: none !important;
  opacity: 0;
  padding: 32px 16px 0;
  @include transitionT1($t:.5s);
  border-radius: 40px 40px 0px 0px;
  &.show {
    opacity: 1;
  }
  > strong {
    display: block;
    text-align: center;
    padding-bottom: 8px;
  }
  .btns {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 32px;
  }
  a {
    display: block;
    margin: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    width: calc(50% - 8px);
    height: 48px;
    color: $g2;
    border: 1px solid $lg2 ;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    &.active {
      border: 2px solid $millie-yellow;
      color: $dg2;
      background: #fff !important;
    }
  }
  .submit {
    display: flex;
    flex-wrap: wrap;
    button {
      padding: 8px;
      height: 56px;
    }
  }
  .btn1p2 {
    > button:first-child{
      width: 30%;
    }
    > button:last-child{
      width: 70%;
    }
  }
}

#dim {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  display: none;
  &.show {
    display: block;
  }
}